.Rproj.user
.Rhistory
.RData
BackUP_Roediger_et_al.pdf
Roediger_et_al.aux
Roediger_et_al.bbl
Roediger_et_al.blg
Roediger_et_al.log
Roediger_et_al.out
Roediger_et_al.pdf
Roediger_et_al.tex.backup
bmc-mathphys.bst
bmc_article.bbl
bmc_article.cls
bmc_paper.Rproj
bmcart-biblio.sty
bmcart.cls
figure
figures
readme.html
run_knitr.R
supplement_Roediger_et_al.Rnw.backup
supplement_Roediger_et_al.aux
supplement_Roediger_et_al.bbl
supplement_Roediger_et_al.blg
supplement_Roediger_et_al.log
supplement_Roediger_et_al.out
supplement_Roediger_et_al.pdf
supplement_Roediger_et_al.tex
supplement_Roediger_et_al.tex.backup
supplement_Roediger_et_al.toc
tests
unused.tex
unused.tex.backup
